<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="../js/pageLoaders/search.js" type="module"></script>

    <script src="../js/searchPage/Card.js"></script>
    <script src="../js/searchPage/CategorySelector.js"></script>
    <script src="../js/searchPage/FoodList.js" type="module"></script>
    <link rel="stylesheet" href="../styles/card.css" />
    <link rel="stylesheet" href="../styles/category.css" />
  </head>
  <body class="wrapper flex flex-col bg-slate-200 min-h-screen"></body>
</html>
