<header class="header flex-none">
  <div class="header-container">
    <ul class="flex justify-evenly text-gray-600 font-medium items-center">
      <li class="basis-1/4 hover:cursor-pointer">
        <a href="home.html">
          <div
            class="brand-block bg-green-500 text-center py-4 rounded-b-3xl transition-colors hover:bg-green-600"
          >
            <span class="text-xl font-bold text-white"
              >Spoonacular Interface</span
            >
          </div>
        </a>
      </li>
      <li
        class="py-1.5 rounded-2xl px-6 transition-colors hover:bg-slate-300 hover:cursor-pointer"
      >
        <a href="home.html"><span>Home</span> </a>
      </li>
      <li
        class="py-1.5 rounded-2xl px-6 transition-colors hover:bg-slate-300 hover:cursor-pointer"
      >
        <a href="about.html">
          <span>About Us</span>
        </a>
      </li>
      <li
        class="py-1.5 rounded-2xl px-6 transition-colors hover:bg-slate-300 hover:cursor-pointer"
      >
        <a href="search.html">
          <div class="flex gap-x-2 items-center">
            <img
              src="../public/images/icons/search.svg"
              class="w-4 h-4"
              alt=""
            /><span>Search</span>
          </div>
        </a>
      </li>
      <li
        class="py-1.5 rounded-2xl px-6 transition-colors hover:bg-slate-300 hover:cursor-pointer"
      >
        <a
          href="https://github.com/DanielOremus/Homeworks/tree/main/Final%20Project"
        >
          <div class="flex gap-x-2 items-center">
            <img
              src="../public/images/icons/github.svg"
              class="w-4 h-4"
              alt=""
            /><span>GitHub</span>
          </div>
        </a>
      </li>
      <li
        class="py-1.5 rounded-2xl px-6 transition-colors hover:bg-slate-300 hover:cursor-pointer"
      >
        <a href="https://spoonacular.com/food-api">
          <div class="flex gap-x-2 items-center">
            <img
              src="../public/images/icons/api.svg"
              class="w-6 h-6"
              alt=""
            /><span>Spoonacular API</span>
          </div>
        </a>
      </li>
    </ul>
  </div>
</header>
