<header class="header flex-none">
  <div class="header-container py-8">
    <ul class="flex justify-evenly">
      <li class="basis-1/4">
        <a href="/views/home.html">
          <span>Spoonacular Interface</span>
        </a>
      </li>
      <li>
        <a href="../../views/home.html"><span>Home</span> </a>
      </li>
      <li>
        <a href="../views/about.html">
          <span>About Us</span>
        </a>
      </li>
      <li>
        <a href="views/search.html">
          <div class="flex gap-x-2 items-center">
            <img
              src="../../public/images/icons/search.svg"
              class="w-4 h-4"
              alt=""
            /><span>Search</span>
          </div>
        </a>
      </li>
      <li>
        <a href="/views/search.html">
          <div class="flex gap-x-2 items-center">
            <img
              src="../public/images/icons/github.svg"
              class="w-4 h-4"
              alt=""
            /><span>GitHub</span>
          </div>
        </a>
      </li>
      <li>
        <a href="/views/search.html">
          <div class="flex gap-x-2 items-center">
            <img
              src="./public/images/icons/api.svg"
              class="w-6 h-6"
              alt=""
            /><span>Spoonacular API</span>
          </div>
        </a>
      </li>
    </ul>
  </div>
</header>
